/* Application-wide Styles */
h1 {
    color: rgba(75, 75, 75, 0.9);
    font-family: impact, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px rgba(75, 75, 75, 0.4);
    font-size: 250%;
  }
  h2, h3 {
    color: rgba(25, 25, 25, 0.9);
    text-shadow: rgba(25, 25, 25, 0.2);
    font-family: impact, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: impact, Helvetica, sans-serif;
  }